.form-label {
    font-family: 'Proxima nova', sans-serif;
    font-size: 1rem;
    color: #ffffff !important;
}

.newForm-title {
    font-family: 'Proxima nova', sans-serif;
    font-size: 1.5rem;
    margin-top: 50px;
    color: #fff;
}

.dangerBtn {
    margin-top: 0px !important;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.primaryBtn {
    margin-top: 0px !important;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}